@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f9fafb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@media print {
  body * {
    visibility: hidden;
  }
  
  .resume-preview, .resume-preview * {
    visibility: visible;
  }
  
  .resume-preview {
    position: absolute;
    left: 0;
    top: 0;
  }
}
